<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
	<title>WROOM</title>

	<!-- Google font file. If you want you can change. -->
	<link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,900" rel="stylesheet">

	<!-- Fontawesome font file css -->
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">

	<!-- Template global css file. Requared all pages -->
	<link rel="stylesheet" type="text/css" href="css/global.style.css">
</head>


<body>
	<header> <!-- extra class no-background -->
        <a class="go-back-link" href="javascript:history.back();"><i class="fa fa-arrow-left"></i></a>
        <h1 class="page-title">친구 검색하기</h1>
        <div class="navi-menu-button">
            <em></em>
            <em></em>
            <em></em>
        </div>
    </header>
    <section class="container">


        <!-- SEARCH START -->
        <div class="search-result-header fix-searchbar"> <!-- or without .fix-searchbar -->
            <form>
                <input type="email" id="searchEmail" name="q" class="form-element" placeholder="친구 이메일 입력..">
				<button type="button" id="searchBtn" class="search-result-btn"><i class="fa fa-arrow-right"></i></button><!--버튼 이미지 바꾸기-->
            </form>
        </div>
        <!-- SEARCH END -->
</section>
<section class="container" id="nameCard" style="margin-top: 200px;">
	<div></div>
</section>

						<div class="form-divider"></div>
						<div class="form-row">
							<a id="addSearch" class="button circle block orange" id="getCheckedButton">친구추가하기</a>
						</div>
						<div class="form-divider"></div>

					</form>

				</div>
			</main>
			<!-- Page content end -->
		</div>
	</div>


	<!--Page loader DOM Elements. Requared all pages-->
	<div class="sweet-loader">
		<div class="box">
		  	<div class="circle1"></div>
		  	<div class="circle2"></div>
		  	<div class="circle3"></div>
		</div>
	</div>

	<!-- JQuery library file. requared all pages -->
	<script src="js/jquery-3.2.1.min.js"></script>

	<!-- Template global script file. requared all pages -->
	<script src="js/global.script.js"></script>
	
</body>
<script>
	var jwtToken = sessionStorage.getItem('jwtToken');
	$('#searchBtn').click(function(){
        var email = $('#searchEmail').val();

        $.ajax({
          url:'http://localhost:3000/invite',
          type : 'POST',
              data : {
				findEmail : email
   		       },
          success:function(data){
			console.log(data);
			  //if(data>0){
				  $("#nameCard").append(
					'<div class="d-flex align-items-center justify-content-between">'+
	                          '<div class="d-flex align-items-center">'+
	                            '<img class="img-xs" src="'+data[0].image+'">'+
	                    	'</div>'+
	                          '<div>'+
	                            '<h4>'+data[0].name+'</h4>'+
	                          '</div>'+
							'</div>'
				  	)
			 // }else{
			//	 alert("해당 사용자가 없습니다.");
			}

			  });
			});

	$('#addSearch').click(function(){
		$.ajax({
         	url:'http://localhost:3000/invite/add',
			 type : 'POST',
			 headers : {
						  'x-access-token' : jwtToken
						},
              data : {
				addEmail : email
					}
				});
});
</script>

</html>