<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
	<title>WROOM</title>

	<!-- Google font file. If you want you can change. -->
	<link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,900" rel="stylesheet">

	<!-- Fontawesome font file css -->
	<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">

	<!-- Template global css file. Requared all pages -->
	<link rel="stylesheet" type="text/css" href="/css/global.style.css">
	<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>

	<style>
		#loginBtn {
			width: 300px;
			height: 49px;
			margin: 0 auto;
			font-size: 17px;
		}

		#kakaoBtn {
			margin-top: 15px;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

		.widthChange {
			width: 600px;
			margin: 0 auto;
		}
	</style>
</head>

<body>
	<div class="wrapper-inline">
		<!-- Header area start -->
		<header>
			<!-- extra class no-background -->
			<!-- <a class="go-back-link" href="javascript:history.back();"><i class="fa fa-arrow-left"></i></a> -->
			<h1 class="page-title">로그인</h1>
			<!-- <div class="navi-menu-button">
					<em></em>
					<em></em>
					<em></em>
				</div> -->
		</header>
		<!-- Header area end -->
		<!-- Page content start -->
		<main>

			<div class="container">
				<div class="form-divider"></div>
				<!-- <div class="form-label-divider"> -->
					<!-- <span>OR</span> -->
				</div>
				<div class="form-divider"></div>

				<div class="form-row-group with-icons widthChange">
					<div class="form-row no-padding">
						<i class="fa fa-envelope"></i>
						<input type="email" id="userEmail" class="form-element" placeholder="Username or Email">
					</div>
					<div class="form-row no-padding">
						<i class="fa fa-lock"></i>
						<input type="password" id="userPassword" class="form-element" placeholder="Password">
					</div>
				</div>

				<div class="form-row txt-center mt-15">
					<a href="forgot-password.html" data-loader="show">Forgot password?</a>
				</div>

				<div class="form-divider"></div>

				<div class="form-row">
					<button type="button" id="loginBtn" class="button circle block orange">Login</button>

					<div class="form-row">
						<a id="custom-login-btn" href="javascript:loginWithKakao()">
							<img id="kakaoBtn" src="//mud-kage.kakao.com/14/dn/btqbjxsO6vP/KPiGpdnsubSq3a0PHEGUK1/o.jpg"
								width="300" />
						</a> <!-- 카카오톡으로 로그인하기 -->
					</div>
				</div>


			</div>
		</main>
		<!-- Page content end -->
	</div>
	</div>


	<!--Page loader DOM Elements. Requared all pages-->
	<div class="sweet-loader">
		<div class="box">
			<div class="circle1"></div>
			<div class="circle2"></div>
			<div class="circle3"></div>
		</div>
	</div>

	<!-- JQuery library file. requared all pages -->
	<script src="/js/jquery-3.2.1.min.js"></script>

	<!-- Template global script file. requared all pages -->
	<script src="/js/global.script.js"></script>

	<script>
		$('#loginBtn').click(function () {
			var email = $('#userEmail').val();
			var password = $('#userPassword').val();

			$.ajax({
				url: 'http://localhost:3000/user/login',
				type: 'POST',
				data: {
					userEmail: email,
					userPassword: password
				},
				success: function (data) {
					if (data == 0) {
						alert("올바르지 않은 사용자 정보입니다.");
					} else {
						sessionStorage.setItem("jwtToken", data);
						window.location = '/main';
					}
				}
			})
		})
	</script>

	<script type='text/javascript'>
		//<![CDATA[
		// 사용할 앱의 JavaScript 키를 설정해 주세요.
		Kakao.init('e782e062553d3c8c1b5ebcce3ca1cdf0');

		function loginWithKakao() {
			// 로그인 창을 띄웁니다.
			Kakao.Auth.login({
				success: function (authObj) {
					alert(JSON.stringify(authObj));
					// console.log(JSON.stringify(authObj));
					var token = JSON.stringify(authObj.access_token);
					// console.log(token);

					Kakao.API.request({
						url: '/v2/user/me',
						success: function (res) {

							$.ajax({
								url: 'http://localhost:3000/user/kakao',
								type: 'POST',
								data: {
									token: token,
									id: res.id,
									nickname: res.properties.nickname,
									image: res.properties.profile_image,
									email: res.kakao_account.email,
									age: res.kakao_account.age_range,
									gender: res.kakao_account.gender
								},
								success: function (data) {
									if (data == 0) { // 회원가입 미완료 시 인증 페이지로 이동
										window.location.href = 'signup';
									} else {
										sessionStorage.setItem("jwtToken", data);
										window.location.href = '/main';
									}
								}
							})
						},
						fail: function (error) {
							alert(JSON.stringify(error));
						}
					});
				},
				fail: function (err) {
					alert(JSON.stringify(err));
					console.log("실패");
					console.log(JSON.stringify(err));
				}
			});
		};
		//]]>
	</script>

</body>

</html>