<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
   <title>Wroom</title>

   <!-- Google font file. If you want you can change. -->
   <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,900" rel="stylesheet">

   <!-- Fontawesome font file css -->
   <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">

   <!-- Animate css file for css3 animations. for more : https://daneden.github.io/animate.css -->
   <!-- Only use animate action. If you dont use animation, you don't have to add.-->
   <link rel="stylesheet" type="text/css" href="css/animate.css">
   <link rel="stylesheet" type="text/css" href="css/cryptocoins.css">
   <link rel="stylesheet" type="text/css" href="plugins/c3-chart/c3.css">

   <!-- Template global css file. Requared all pages -->
   <link rel="stylesheet" type="text/css" href="css/global.style.css">

   <!-- Swiper slider css file -->
   <link rel="stylesheet" href="css/swiper.min.css">

   <!--turbo slider plugin css file -->
   <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
   <link rel="stylesheet" type="text/css" href="plugins/turbo-slider/turbo.css">

   <style>
      #nameCard {
         display: table;
         width: 100%;
         table-layout: fixed;
         width: 100% !important;
      }

      #userList {
         display: table-cell;
         vertical-align: middle;
      }

      #userIcon {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }

      #profileBox {
         width: 90px;
         height: 90px;
         border-radius: 70%;
         overflow: hidden;
      }

      #refreshBtn:hover {
         cursor: pointer;
      }

      .eClick:hover {
         background-color: #E6E6E6;
      }

      small {
         text-align: right;
      }
   </style>

</head>

<body>

   <div class="wrapper ">
      <div class="nav-menu">
         <nav class="menu">
            <!-- nav삽입 -->
            <!-- Menu navigation start -->
            <div class="nav-container">
               <div style="padding-top:20px; padding-left: 25px;">
                  <table style="margin-bottom: 20px;">
                     <tr>
                        <th colspan="2"></th>
                     </tr>
                     <tr>
                        <th rowspan="4">
                           <div id="profileBox">
                              <a href="#">
                                 <img id="userIcon" width="80" alt="프로필사진">
                              </a>
                           </div>
                        <td> </td>
                        </th>
                     </tr>
                     <tr>
                        <td> </td>
                     </tr>
                     <tr>
                        <td><a href="profile.html">
                              <h3 id="userName" style="margin-left: 25px;">이름<h3>
                           </a></td>
                     </tr>
                     <tr>
                        <td id="groupName" style="padding-left: 30px;">그룹이름</td>
                     </tr>
                  </table>
               </div>
               <hr>
               <ul class="main-menu">
                  <!-- 블록 추가해서 프로필 넣기 -->

                  <li class="">
                     <a href="index.html"><img src="img/content/icons/1.png" alt=""><strong>구성원 관리</strong> </a>
                  </li>
                  <li class="">
                     <a href="wallet.html"><img src="img/content/icons/2.png" alt=""><strong>지난 내역 보기</strong>
                     </a>
                  </li>
                  <li class="">
                     <a href="trading.html"><img src="img/content/icons/3.png" alt=""><strong>고객센터</strong> </a>
                  </li>
                  <li class="">
                     <a href="signup.html"><img src="img/content/icons/6.png" alt=""><strong>로그아웃</strong> </a>
                     <!--
                            <ul>
                              <li><a href="login.html" data-loader="show">Login</a></li>
                              <li><a href="signup.html" data-loader="show">Register</a></li>
                              <li><a href="forgot-password.html" data-loader="show">Forgot Password</a></li>
                            </ul>-->
                  </li>

                  <!-- <li><a href="profile.html" data-loader="show">User Profile</a></li>
                              <li><a href="search-result.html" data-loader="show">Search Results</a></li>
                              <li><a href="contact.html" data-loader="show">Contact</a></li>
                              <li class="active"><a href="blank.html" data-loader="show">Blank Page</a></li> -->
               </ul>
            </div>
            <!-- Menu navigation end -->
         </nav>
      </div>
      <div class="wrapper-inline">
         <!-- Header area start -->
         <header>
            <!-- extra class no-background -->
            <div class="navi-menu-button">
               <em></em>
               <em></em>
               <em></em>
            </div>
         </header>
         <!-- Header area end -->
         <!-- Page content start -->
         <main class="margin mt-0">
            <div class="dash-balance">
               <div class="dash-content relative">

                  <div class="notification">
                     <a href=""><i class="fa fa-plus"></i></a>
                  </div>
               </div>
            </div>
            
            <section class="bal-section container">
               <div id="content">
                  <div id="content-body">
                     <div class="content-head">
                        <div class="d-flex align-items-center">
                           <div class="d-flex flex-grow">
                              <img src="img/content/wroomHor.png" width="100px" class="logo" alt=""
                                 style="margin: 0 auto; margin-top: 11px;">
                           </div>
                        </div>
                     </div>
                     <div class="content-row">
                        <div class="content-col">
                           <a href="/payment/0"><img src="img/content/billtopay.png" class="mb-5" alt=""></a>
                           <span><b>납부 예정 청구서</b></span>
                        </div>
                        <div class="content-col">
                           <a href="/payment/1"><img src="img/content/payy.png" class="mb-5" alt=""></a>
                           <span><b>납부한 청구서</b></span>
                        </div>
                        <div class="content-col">
                           <a href="/notice"><img src="img/content/pay.png" class="mb-5" alt=""></a>
                           <span><b>공지사항</b></span>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
            <h4 class="title-main" style="padding-left: 20px;">전체 구성원</h4>
            <section class="container o-hidden" style="margin-top: -25px;">
               <h4 class="title-main"></h4>
               <div class="swiper-recievers">
                  <div class="swiper-wrapper">
                     <div id="nameCard" class="swiper-slide">

                     </div>
                     <!--<div class="swiper-slide">
                        <div class="money-receiver">
                           <img src="img/content/avatar/avatar-3.png" alt="">
                           <h4>김수지</h4>
                        </div>
                     </div>
                     <div class="swiper-slide">
                        <div class="money-receiver">
                           <img src="img/content/avatar/avatar-4.png" alt="">
                           <h4>윤정인</h4>
                        </div>
                     </div>
                     <div class="swiper-slide">
                        <div class="money-receiver">
                           <img src="img/content/avatar/avatar-5.png" alt="">
                           <h4>최정윤</h4>
                        </div>
                     </div>
                     <div class="swiper-slide">
                        <div class="money-receiver">
                           <img src="img/content/avatar/avatar-5.png" alt="">
                           <h4>최효인</h4>
                        </div>
                     </div>
                     -->
                  </div>
               </div>
            </section>

            <!--POPUP HTML CONTENT START -->
            <div class="popup-overlay" id="formPopup">
               <!-- if you dont want overlay add class .no-overlay -->
               <div class="popup-container add">
                  <div class="popup-header">
                     <h3 class="popup-title">Add New Receiver</h3>
                     <span class="popup-close" data-dismiss="true"><i class="fa fa-times"></i></span>
                  </div>
                  <div class="popup-content">
                     <div class="form-row-group with-icons">
                        <div class="form-row no-padding">
                           <i class="fa fa-user"></i>
                           <input type="text" name="aaa" class="form-element" placeholder="Receiver Name">
                        </div>
                     </div>
                     <div class="form-mini-divider"></div>
                     <div class="form-row-group with-icons">
                        <div class="form-row no-padding">
                           <i class="fa fa-suitcase"></i>
                           <input type="text" name="aaa" class="form-element" placeholder="Wallet Address">
                        </div>
                     </div>
                     <div class="form-mini-divider"></div>
                     <div class="form-row-group with-icons">
                        <div class="form-row no-padding">
                           <i class="fa fa-language"></i>
                           <select class="form-element">
                              <option value="" selected>Wallet Currency</option>
                              <option value="1">Bitcoin</option>
                              <option value="1">Ethereum</option>
                              <option value="1">Litecoin</option>
                           </select>
                        </div>
                     </div>
                     <div class="form-mini-divider"></div>
                     <div class="form-row-group with-icons">
                        <div class="form-row no-padding">
                           <i class="fa fa-address-book-o"></i>
                           <textarea class="form-element" placeholder="Message" rows="6"></textarea>
                        </div>
                     </div>
                  </div>
                  <div class="popup-footer">
                     <button class="button orange">Add Now</button>
                  </div>
               </div>
            </div>

            <!-- 리스트 띄우기 -->
            <section class="container">
               <h4 class="title-main">당월 청구서</h4>
               <div style="width:100%; position: absolute;" >
                  <a href="main/payment/form">
                     <img style="position: relative; left: 91%; top: -35px;" class="img-xs" width = "25px" src="img/content/plus1.png">
                  </a>
               </div>
               <ul class="transaction-list list-unstyled">
                  <!-- 월세 -->
                  <li>
                     <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                           <img class="img-xs" src="img/content/main/discount.png" alt="coin image">
                           <div class="ml-10">
                              <h4 class="coin-name">월세</h4>
                              <small id="monDuedate" class="text-muted"></small>
                           </div>
                        </div>
                        <div>
                           <small id="monShare" class="d-block mb-0 txt-green">등록된 금액이 없습니다.</small>
                           <small id="monTotal" class="text-muted d-block"></small>
                        </div>
                     </div>
                  </li>
                  <li class="eClick">
                     <div id="refreshBtn" class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                           <img class="img-xs" src="img/content/main/electricity.png" alt="coin image">
                           <div class="ml-10">
                              <h4 class="coin-name">전기</h4>
                              <small id="epDuedate" class="text-muted"></small>
                              <!-- <img id="refreshBtn" src="img/content/icons/new.png" alt="새로고침"> -->
                           </div>
                        </div>
                        <div>
                           <small id="epShare" class="d-block mb-0 txt-green">등록된 금액이 없습니다.</small>
                           <small id="ePTotal" class="text-muted d-block"></small>
                        </div>
                     </div>
                  </li>
                  <li>
                     <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                           <img class="img-xs" src="img/content/main/splash.png" alt="coin image">
                           <div class="ml-10">
                              <h4 class="coin-name">수도</h4>
                              <small id="watDuedate" class="text-muted"></small>
                           </div>
                        </div>
                        <div>
                           <small id="watShare" class="d-block mb-0 txt-green">등록된 금액이 없습니다.</small>
                           <small id="watTotal" class="text-muted d-block"></small>
                        </div>
                     </div>
                  </li>
                  <li>
                     <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                           <img class="img-xs" src="img/content/main/marketing.png" alt="coin image">
                           <div class="ml-10">
                              <h4 class="coin-name">생활비</h4>
                              <small id="livDuedate" class="text-muted"></small>
                           </div>
                        </div>
                        <div>
                           <small id="livShare" class="d-block mb-0 txt-green">등록된 금액이 없습니다.</small>
                           <small id="livTotal" class="text-muted d-block"></small>
                        </div>
                     </div>
                  </li>
                  <li>
                     <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                           <img class="img-xs" src="img/content/main/netflix.png" alt="coin image">
                           <div class="ml-10">
                              <h4 class="coin-name">기타</h4>
                              <small id="etcDuedate" class="text-muted"></small>
                           </div>
                        </div>
                        <div>
                           <small id="etcShare" class="d-block mb-0 txt-green">등록된 금액이 없습니다.</small>
                           <small id="etcTotal" class="text-muted d-block"></small>
                        </div>
                     </div>
                  </li>
               </ul>
            </section>
         </main>
         <!-- Page content end -->
      </div>
   </div>

   <!--Page loader DOM Elements. Requared all pages-->
   <div class="sweet-loader">
      <div class="box">
         <div class="circle1"></div>
         <div class="circle2"></div>
         <div class="circle3"></div>
      </div>
   </div>

   <!-- JQuery library file. requared all pages -->
   <script src="js/jquery-3.2.1.min.js"></script>
   <!-- Swiper JS -->
   <script src="js/swiper.min.js"></script>
   <!-- Template global script file. requared all pages -->
   <script src="js/global.script.js"></script>

   <script>
      var jwtToken = sessionStorage.getItem('jwtToken');

      function makeComma(str) {
         var str = String(str);
         return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
      }

      // 이미지 가져오기
      function getImg() {
         $.ajax({
            url: 'http://localhost:3000/userImg',
            type: 'GET',
            headers: {
               'x-access-token': jwtToken
            },
            success: function (data) {
               //이미지
               //console.log(">>> data : " + data[0].image);
               $("#userName").text(data[0].name);
               var groupYN = (data[0].roomID == null) ?  '' : data[0].roomID + '번 방';
               $("#groupName").text(groupYN);

               var userIcon = document.getElementById('userIcon');

               if (data[0].image == null) {
                  userIcon.src = '/img/content/main/user.png';
               } else {
                  userIcon.src = data[0].image;
               }
            }
         })
      }
      getImg();

      displayGroup();
      //룸쉐어 멤버 리스트 보여주기
      function displayGroup() {
         $.ajax({
            url: 'http://localhost:3000/main',
            type: 'POST',
            headers: {
               'x-access-token': jwtToken
            },
            success: function (data) {
               if (data.length > 0) {
                  for (var i = 0; i < data.length; i++) {
                     if (!data[i].image) data[i].image = "/img/content/main/user.png";
                     $("#nameCard").append(
                        //'<div class="swiper-slide">'+
                        '<div id="userList" class="money-receiver friendsBox">' +
                        '<img src="' + data[i].image + '" alt="프로필사진" style="width:52px; height:52px;">' +
                        '<h4>' + data[i].name + '</h4>' +
                        '</div>'
                     )
                  }
               } else {
                  $("#nameCard").append(
                     //   '<div class="swiper-slide">'+
                     '<div class="money-receiver" style="width: 100%;">' +
                     '<a href="/makeRoom"><img src="img/plus.png" alt=""></a>' +
                     '<h4>모임개설</h4>' +
                     '</div>'
                  )
               }
            }
         })
      }

      //전기세 새로고침 버튼
      $('#refreshBtn').click(function () {
         $.ajax({
            url: 'http://localhost:3000/nh/efpayment',
            type: 'POST',
            headers: {
               'x-access-token': jwtToken
            },
            success: function (data) {
               console.log("data.price :" + data.price);
               $("#epShare").text(makeComma(data.price) + " 원");
               $("#ePTotal").text(makeComma(data.Tram) + " 원");
               $("#epDueDate").text(data.dueDate);
            },
            error: function (request, status, error) {
               alert("api 호출 오류!");
            }
         })
      });

      //청구서 목록 가져오기
      $(document).ready(function () {
         $.ajax({
            url: 'http://localhost:3000/payment/category',
            type: 'GET',
            headers: {
               'x-access-token': jwtToken
            },
            success: function (item) {
               //console.log(item);
               if (item.length != 0) {
                  for (var i = 0; i < item.length; i++) {
                     switch (item[i].cagegoryName) {
                        case '월세':
                           $("#monShare").text(makeComma(item[i].shareAmount) + " 원");
                           $("#monTotal").text(makeComma(item[i].payAmount) + " 원");
                           $("#monDueDate").text("납부 기한: " + item[i].dueDate);
                           break;
                        case '전기':
                           $("#epShare").text(makeComma(item[i].shareAmount) + " 원");
                           $("#ePTotal").text(makeComma(item[i].payAmount) + " 원");
                           $("#epDueDate").text("납부 기한: " + item[i].dueDate);
                           break;
                        case '수도':
                           $("#watShare").text(makeComma(item[i].shareAmount) + " 원");
                           $("#watTotal").text(makeComma(item[i].payAmount) + " 원");
                           $("#watDueDate").text("납부 기한: " + item[i].dueDate);
                           break;
                        case '생활비':
                           $("#livShare").text(makeComma(item[i].shareAmount) + " 원");
                           $("#livTotal").text(makeComma(item[i].payAmount) + " 원");
                           $("#livDueDate").text("납부 기한: " + item[i].dueDate);
                           break;
                        case '기타':
                           $("#etcShare").text(makeComma(item[i].shareAmount) + " 원");
                           $("#etcTotal").text(makeComma(item[i].payAmount) + " 원");
                           $("#etcDueDate").text("납부 기한: " + item[i].dueDate);
                           break;
                     }
                  }
               }
            },
            error: function (request, status, error) {
               alert("code:" + request.status + "\n" + "message:" +
                  request.responseText + "\n" + "error:" + error);
            }
         });
      })
   </script>
</body>

</html>