<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
	<title>Wroom</title>

	<!-- Google font file. If you want you can change. -->
	<link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,900" rel="stylesheet">

	<!-- Fontawesome font file css -->
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">

	<!-- Animate css file for css3 animations. for more : https://daneden.github.io/animate.css -->
	<!-- Only use animate action. If you dont use animation, you don't have to add.-->
	<link rel="stylesheet" type="text/css" href="css/animate.css">
	<link rel="stylesheet" type="text/css" href="css/cryptocoins.css">
	<link rel="stylesheet" type="text/css" href="plugins/c3-chart/c3.css">

	<!-- Template global css file. Requared all pages -->
	<link rel="stylesheet" type="text/css" href="css/global.style.css">

	<!-- Swiper slider css file -->
	<link rel="stylesheet" href="css/swiper.min.css">

	<!--turbo slider plugin css file -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="plugins/turbo-slider/turbo.css">

	<style>

	</style>

</head>

<body>

	<div class="wrapper ">
		<div class="nav-menu">
			<nav class="menu">

				<!-- Menu navigation start -->
				<div class="nav-container">
					<div>
						<table>
							<tr>
								<th colspan="2"></th>
							</tr>
							<tr>
								<th rowspan="4">
									<a href="profile.html"><img src="img/content/profile.png" width="80" alt=""></a>
								<td> </td>
								</th>
							</tr>
							<tr>
								<td> </td>
							</tr>
							<tr>
								<td><a href="profile.html">
										<h3>이름<h3>
									</a></td>
							</tr>
							<tr>
								<td>그룹이름</td>
							</tr>
						</table>
					</div>
					<ul class="main-menu">
						<!--블록 추가해서 프로필 넣기-->

						<li class="">
							<a href="index.html"><img src="img/content/icons/1.png" alt=""><strong>구성원 관리</strong> </a>
						</li>
						<li class="">
							<a href="wallet.html"><img src="img/content/icons/2.png" alt=""><strong>지난 내역 보기</strong>
							</a>
						</li>
						<li class="">
							<a href="trading.html"><img src="img/content/icons/3.png" alt=""><strong>고객센터</strong> </a>
						</li>
						<li class="">
							<a href="signup.html"><img src="img/content/icons/6.png" alt=""><strong>로그아웃</strong> </a>
							<!--
                     <ul>
                        <li><a href="login.html" data-loader="show">Login</a></li>
                        <li><a href="signup.html" data-loader="show">Register</a></li>
                        <li><a href="forgot-password.html" data-loader="show">Forgot Password</a></li>
                     </ul>-->
						</li>

						<li><a href="profile.html" data-loader="show">User Profile</a></li>
						<li><a href="search-result.html" data-loader="show">Search Results</a></li>
						<li><a href="contact.html" data-loader="show">Contact</a></li>
						<li class="active"><a href="blank.html" data-loader="show">Blank Page</a></li>
					</ul>
				</div>
				<!-- Menu navigation end -->
			</nav>
		</div>
		<div class="wrapper-inline">
			<!-- Header area start -->
			<header class="no-background">
				<!-- extra class no-background -->



				<div class="navi-menu-button">
					<em></em>
					<em></em>
					<em></em>
				</div>

			</header>
			<!-- Header area end -->

			<!-- Page content start -->
			<main class="margin mt-0">

				<div class="dash-balance">
					<div class="dash-content relative">

						<div class="notification">
							<a href=""><i class="fa fa-plus"></i></a>
						</div>
					</div>
				</div>

				<section class="bal-section container">

					<div id="content">

						<div id="content-body">
							<div class="content-head">

								<div class="d-flex align-items-center">
									<div class="d-flex flex-grow">

										<img src="img/content/logo.png" width="70px" class="logo" alt="">

									</div>
								</div>
							</div>
							<div class="content-row">
								<div class="content-col">
									<img src="img/content/billtopay.png" class="mb-5" id="payFalseButton">
									<span>납부 예정 청구서</span>
								</div>
								<div class="content-col">
									<img src="img/content/payy.png" class="mb-5" id="payTrueButton">
									<span>납부한 청구서</span>
								</div>

								<div class="content-col">
									<a href="/notice"><img src="img/content/pay.png" class="mb-5" alt=""></a>
									<span>공지사항</span>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section  class="container o-hidden">
					<h4 class="title-main"></h4>
					<div class="swiper-recievers">
						<div  class="swiper-wrapper">
							<div id ="nameCard" class="swiper-slide">
								
							</div>
							<!--<div class="swiper-slide">
								<div class="money-receiver">
									<img src="img/content/avatar/avatar-3.png" alt="">
									<h4>김수지</h4>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="money-receiver">
									<img src="img/content/avatar/avatar-4.png" alt="">
									<h4>윤정인</h4>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="money-receiver">
									<img src="img/content/avatar/avatar-5.png" alt="">
									<h4>최정윤</h4>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="money-receiver">
									<img src="img/content/avatar/avatar-5.png" alt="">
									<h4>최효인</h4>
								</div>
							</div>
							-->
						</div>
					</div>
				</section>

				<!--POPUP HTML CONTENT START -->
				<div class="popup-overlay" id="formPopup">
					<!-- if you dont want overlay add class .no-overlay -->
					<div class="popup-container add">
						<div class="popup-header">
							<h3 class="popup-title">Add New Receiver</h3>
							<span class="popup-close" data-dismiss="true"><i class="fa fa-times"></i></span>
						</div>
						<div class="popup-content">

							<div class="form-row-group with-icons">
								<div class="form-row no-padding">
									<i class="fa fa-user"></i>
									<input type="text" name="aaa" class="form-element" placeholder="Receiver Name">
								</div>
							</div>

							<div class="form-mini-divider"></div>

							<div class="form-row-group with-icons">
								<div class="form-row no-padding">
									<i class="fa fa-suitcase"></i>
									<input type="text" name="aaa" class="form-element" placeholder="Wallet Address">
								</div>
							</div>

							<div class="form-mini-divider"></div>

							<div class="form-row-group with-icons">
								<div class="form-row no-padding">
									<i class="fa fa-language"></i>
									<select class="form-element">
										<option value="" selected>Wallet Currency</option>
										<option value="1">Bitcoin</option>
										<option value="1">Ethereum</option>
										<option value="1">Litecoin</option>
									</select>
								</div>
							</div>

							<div class="form-mini-divider"></div>

							<div class="form-row-group with-icons">
								<div class="form-row no-padding">
									<i class="fa fa-address-book-o"></i>
									<textarea class="form-element" placeholder="Message" rows="6"></textarea>
								</div>
							</div>

						</div>
						<div class="popup-footer">
							<button class="button orange">Add Now</button>
						</div>
					</div>
				</div>

				<section class="container">
					<h4 class="title-main">모든 청구서 보기</h4>
					<ul class="transaction-list list-unstyled">
						<li>
							<div class="d-flex align-items-center justify-content-between">
								<div class="d-flex align-items-center">
									<img class="img-xs" src="img/content/monthfee.png" alt="coin image">
									<div class="ml-10">
										<h4 class="coin-name">월세</h4>
										<small class="text-muted">08-24 <span class="ml-10">20.04PM</span></small>
									</div>
								</div>
								<div>
									<small class="d-block mb-0 txt-green">+0.94853</small>
									<small class="text-muted d-block">$2,748.94</small>
								</div>
							</div>
						</li>
						<li>
							<div class="d-flex align-items-center justify-content-between">
								<div class="d-flex align-items-center">
									<img class="img-xs" src="img/content/thunder.png" alt="coin image">
									<div class="ml-10">
										<h4 class="coin-name">전기세</h4>
										<small class="text-muted">08-24 <span class="ml-10">20.04PM</span></small>
									</div>
								</div>
								<img id="refreshBtn" src="img/content/icons/new.png" alt="새로고침">
								<div>
									<small id="epShare" class="d-block mb-0 txt-green"></small>
									<small id="ePTotal" class="text-muted d-block"></small>
								</div>
							</div>
						</li>
						<li>
							<div class="d-flex align-items-center justify-content-between">
								<div class="d-flex align-items-center">
									<img class="img-xs" src="img/content/water.png" alt="coin image">
									<div class="ml-10">
										<h4 class="coin-name">수도세</h4>
										<small class="text-muted">08-24 <span class="ml-10">20.04PM</span></small>
									</div>
								</div>
								<div>
									<small class="d-block mb-0 txt-red">-23.84523</small>
									<small class="text-muted d-block">$1,493.03</small>
								</div>
							</div>
						</li>
						<li>
							<div class="d-flex align-items-center justify-content-between">
								<div class="d-flex align-items-center">
									<img class="img-xs" src="img/content/netflix.png" alt="coin image">
									<div class="ml-10">
										<h4 class="coin-name">Netflix</h4>
										<small class="text-muted">08-24 <span class="ml-10">20.04PM</span></small>
									</div>
								</div>
								<div>
									<small class="d-block mb-0 txt-green">+500.347</small>
									<small class="text-muted d-block">$239.94</small>
								</div>
							</div>
						</li>
					</ul>
				</section>
			</main>
			<!-- Page content end -->
		</div>
	</div>

	<!--Page loader DOM Elements. Requared all pages-->
	<div class="sweet-loader">
		<div class="box">
			<div class="circle1"></div>
			<div class="circle2"></div>
			<div class="circle3"></div>
		</div>
	</div>

	<!-- JQuery library file. requared all pages -->
	<script src="js/jquery-3.2.1.min.js"></script>
	<!-- Swiper JS -->
	<script src="js/swiper.min.js"></script>
	<!-- Template global script file. requared all pages -->
	<script src="js/global.script.js"></script>

	<script>
		var jwtToken = sessionStorage.getItem('jwtToken');
		displayGroup();
		//룸쉐어 멤버 리스트 보여주기
        function displayGroup(){
			$.ajax({
				url: 'http://localhost:3000/main',
				type: 'POST',
				headers: {
					'x-access-token': jwtToken
				},
				success: function (data) {

					if(data){
						for(var i=0; i < data.length; i++){
                        $("#nameCard").append(
							//'<div class="swiper-slide">'+
							'<div class="money-receiver">'+
							'<img src="'+data[i].image+'" alt="">'+
									'<h4>'+data[i].name+'</h4>'
									+'</div>'
									//+'</div>'
						)
					}
				}else{
					$("#nameCard").append(
					//	'<div class="swiper-slide">'+
						'<div  class="money-receiver">'+
						'<a href="/makeRoom"><img src="img/plus.png" alt=""></a>'+
									'<h4>모임개설</h4>'
									+'</div>'
									//+'</div>'
					)
				}
					
					
				}
			})
		}

		function makeComma(str) {
			var str = String(str);
			return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
		}

		$('#refreshBtn').click(function () {
			$.ajax({
				url: 'http://localhost:3000/nh/efpayment',
				type: 'POST',
				headers: {
					'x-access-token': jwtToken
				},
				success: function (data) {
					console.log("data.price :" + data.price);
					$("#epShare").text(makeComma(data.price) + " 원");
					$("#ePTotal").text(makeComma(data.Tram) + " 원");
				},
				error: function (request, status, error) {
					alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" +
						"error:" + error);
				}
			})
		});

		//납부 미완 내역 요청
		$('#payFalseButton').click(function () {
			$.ajax({
				url: 'http://localhost:3000/payment/0',
				type: 'GET',
				headers: {
					'x-access-token': jwtToken
				},
				success: function (data) {
					console.log('납부 미완 내역 조회 완료');
				},
				error: function (request, status, error) {
					alert("code:" + request.status + "\n" + "message:" +
					request.responseText + "\n" +"error:" + error);
				}
			})
		});

		//납부 완료 내역 요청
		$('#payTrueButton').click(function () {
			$.ajax({
				url: 'http://localhost:3000/payment/1',
				type: 'GET',
				headers: {
					'x-access-token': jwtToken
				},
				success: function (data) {
					console.log('납부 완료 내역 조회 완료');
				},
				error: function (request, status, error) {
					alert("code:" + request.status + "\n" + "message:" +
					request.responseText + "\n" + "error:" + error);
				}
			})
		});

		
	</script>
	<script>
	
	</script>

</body>

</html>