<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
	<title>WRoom</title>
	<!-- Google font file. If you want you can change. -->
	<link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,900" rel="stylesheet">
	<!-- Fontawesome font file css -->
	<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
	<!-- Template global css file. Requared all pages -->
	<link rel="stylesheet" type="text/css" href="/css/global.style.css">
	<!-- bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

	<style>
	 th, td {
		text-align: center;
	 }

	 #nameCard {
			display: table;
			width: 100%;
			table-layout: fixed;
			width: 100% !important;
		}

		#userList {
			display: table-cell;
			vertical-align: middle;
		}

		#userIcon {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		#profileBox {
			width: 90px;
			height: 90px;
			border-radius: 70%;
			overflow: hidden;
		}

		small {
			text-align: right;
		}
	</style>
</head>

<body>
	<div class="wrapper">
		<div class="nav-menu">
			<nav class="menu">
			   <!-- nav삽입 -->
			   <!-- Menu navigation start -->
			   <div class="nav-container">
				  <div style="padding-top:20px; padding-left: 25px;">
					 <table style="margin-bottom: 20px;">
						<tr>
						   <th colspan="2"></th>
						</tr>
						<tr>
						   <th rowspan="4">
							  <div id="profileBox">
								 <a href="#">
									<img id="userIcon" width="80" alt="프로필사진">
								 </a>
							  </div>
						   </th>
						</tr>
						<tr>
						   <td><a href="profile.html"><h3 id="userName" style="margin-left: 25px;">이름<h3></a></td>
						</tr>
					 </table>
				  </div>
				  <hr>
				  <ul class="main-menu" style="margin-left: 10px;">
					 <!-- 블록 추가해서 프로필 넣기 -->
					 <li class="">
						<a href="index.html"><img src="/img/content/icons/1.png"><strong>구성원 관리</strong></a>
					 </li>
					 <li class="">
						<a href="wallet.html"><img src="/img/content/icons/2.png"><strong>지난 내역 보기</strong>
						</a>
					 </li>
					 <li class="">
						<a href="trading.html"><img src="/img/content/icons/3.png"><strong>고객센터</strong></a>
					 </li>
					 <li class="">
						<a href="signup.html"><img src="/img/content/icons/6.png"><strong>로그아웃</strong></a>
					 </li>
				  </ul>
			   </div>
			   <!-- Menu navigation end -->
			</nav>
		 </div>

		<div class="wrapper-inline">
			<!-- Header area start -->
			<header> <!-- extra class no-background -->
				<a class="go-back-link" href="javascript:history.back();"><i class="fa fa-arrow-left"></i></a>
				<h1 class="page-title">공지사항</h1>
				<div class="navi-menu-button">
					<em></em>
					<em></em>
					<em></em>
				</div>
			</header>
			<!-- Header area end -->
			<!-- Page content start -->
			<main>
				<div class="container">
					<div id="noticeContents">
						<table class="table table-hover">
							<thead>
							  <tr>
								<th scope="col">글번호</th>
								<th scope="col">제목</th>
								<th scope="col">작성일</th>
								<th scope="col">삭제</th>
							  </tr>
							</thead>
							<tbody id="noticeItems">
							</tbody>
						</table>
					<button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#exampleModal">공지 등록</button>
					</div>
					<div id="transactionList"></div>
				</div>

				<div class="form-divider"></div>

				<footer>
					<div class="container">
						<ul>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-google"></i></a></li>
							<li><a href="#"><i class="fa fa-instagram"></i></a></li>
						</ul>
						<p>Copyright © All Right Reserved</p>
					</div>
				</footer>
			</main>
			<!-- Page content end -->
		</div>
	</div>

	<!--Page loader DOM Elements. Requared all pages-->
	<div class="sweet-loader">
		<div class="box">
		  	<div class="circle1"></div>
		  	<div class="circle2"></div>
		  	<div class="circle3"></div>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">공지사항 등록</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			</div>
			<div class="modal-body">
				<form id="noticeForm">
					<div class="form-group">
						<label for="exampleFormControlTextarea1">내용</label>
						<textarea class="form-control" id="contents" rows="3"></textarea>
					  </div>
				</form>
			</div>
			<div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			<button type="button" id="noticeInsertBtn" class="btn btn-outline-dark">Save</button>
			</div>
		</div>
		</div>
	</div>
	
	<!-- JQuery library file. requared all pages -->
	<script src="/js/jquery-3.2.1.min.js"></script>
	<!-- Template global script file. requared all pages -->
	<script src="/js/global.script.js"></script>
	<!-- bootstrap js -->
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

	<script>
		var jwtToken = sessionStorage.getItem('jwtToken');

		//공지 가져오기
		$(document).ready(function() {
			var jwtToken = sessionStorage.getItem('jwtToken');
			$.ajax({
				url: 'http://localhost:3000/notice/items',
				type: 'GET',
				headers: {
					'x-access-token': jwtToken
				},
				success: function (item) {
					for(var i=0; i < item.length; i++) {
						$("#noticeItems").append(
							'<tr>'+
								'<th>'+item[i].noticeID+'</th>'+
								'<td>'+item[i].contents+'</td>'+
								'<td>'+item[i].created.substr(0,10)+'</td>'+
								'<td><button id="deleteBtn" type="button" class="btn btn-outline-dark"'+
								'value="'+item[i].noticeID+'">삭제</button></td>'+
							'</tr>'
						)
					}
				},
				error: function (request, status, error) {
					if(request.status === 403) {
					alert("사용 권한이 없습니다. 로그인 후 이용해주세요.");
						} else {
					alert("code: " + request.status + "\n"
						+"message: " + request.responseText + "\n" +"error: " + error);
					}
				}
			});
		})

		//공지사항 등록
		$('#noticeInsertBtn').click(function() {
			var contents = $('#contents').val();
			$.ajax({
				url: '/notice',
				type: 'POST',
				data: {contents: contents},
				headers: {
					'x-access-token': jwtToken
				},
				success: function(data) {
					//TODO: 페이지 리로드
				},
			});
		});

		//게시글 삭제
		$(document).on('click', '#deleteBtn', function(){
			var id = this.value;
			if(confirm(id+"번째 글을 삭제하시겠습니까?")){
				$.ajax({
					url: '/notice/'+id,
					type: 'GET',
					success: function(data) {
						alert(id+"번째 글이 삭제되었습니다.");
						location.reload();
					},
				});
			}
		});

		// 이미지 가져오기
		function getImg() {
			$.ajax({
				url: 'http://localhost:3000/userImg',
				type: 'GET',
				headers: {
				'x-access-token': jwtToken
				},
				success: function (data) {
				//이미지
				//console.log(">>> data : " + data[0].image);
				$("#userName").text(data[0].name);
				var groupYN = (data[0].roomID == null) ?  '' : data[0].roomID + '번 방';
				$("#groupName").text(groupYN);

				var userIcon = document.getElementById('userIcon');

				if (data[0].image == null) {
					userIcon.src = '/img/content/main/user.png';
				} else {
					userIcon.src = data[0].image;
				}
				}
			})
		}
		getImg();
	</script>
</body>
</html>
