<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
	<title>WRoom</title>
	<!-- Google font file. If you want you can change. -->
	<link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,900" rel="stylesheet">
	<!-- Fontawesome font file css -->
	<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
	<!-- Template global css file. Requared all pages -->
	<link rel="stylesheet" type="text/css" href="/css/global.style.css">
	<!-- bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

	<style>
	 th, td {
		text-align: center;
	 }
	</style>
</head>

<body>
	<div class="wrapper">
		<div class="nav-menu">
			<nav class="menu">
				<!-- Menu navigation start -->
				<div class="nav-container">
					<div>
						<table>
							<tr><th colspan = "2"></th></tr>
							<tr>
								<th rowspan="4">
									<a href = "profile.html"><img src="/img/content/profile.png" width = "80" alt=""></a>
									<td> </td></th>
								</tr>
								<tr><td> </td></tr>
								<tr>
								<td><a href = "profile.html"><h3 style="margin-right: 10px;">이름<h3></a></td>
							</tr>
							<tr>
								<td><h5 style="margin-top: -30px;">그룹이름</h5></td>
								</tr>
							</table>
					</div>
					<ul class="main-menu">
						<!--블록 추가해서 프로필 넣기-->
						<li class="">
							<a href="index.html"><img src="/img/content/icons/1.png" alt=""><strong>구성원 관리</strong> </a>
						</li>
						<li class="">
							<a href="wallet.html"><img src="/img/content/icons/2.png" alt=""><strong>지난 내역 보기</strong> </a>
						</li>
						<li class="">
							<a href="trading.html"><img src="/img/content/icons/3.png" alt=""><strong>고객센터</strong> </a>
						</li>
						<li class="">
							<a href="signup.html"><img src="/img/content/icons/6.png" alt=""><strong>로그아웃</strong> </a>
						</li>
					</ul>
				</div>
			<!-- Menu navigation end -->
			</nav>
		</div>
		<div class="wrapper-inline">
			<!-- Header area start -->
			<header> <!-- extra class no-background -->
				<a class="go-back-link" href="javascript:history.back();"><i class="fa fa-arrow-left"></i></a>
				<h1 class="page-title">공지사항</h1>
				<div class="navi-menu-button">
					<em></em>
					<em></em>
					<em></em>
				</div>
			</header>
			<!-- Header area end -->
			<!-- Page content start -->
			<main>
				<div class="container">
					<div id="noticeContents">
						<!-- 결제 리스트 넣기 -->
						<table class="table table-hover">
							<thead>
							  <tr>
								<th scope="col">글번호</th>
								<th scope="col">내용</th>
								<th scope="col">작성일</th>
								<th scope="col">삭제</th>
							  </tr>
							</thead>
							<tbody id="noticeItems">
							</tbody>
						</table>
					<button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#exampleModal">공지 등록</button>
					</div>
					<div id="transactionList"></div>
				</div>

				<div class="form-divider"></div>

				<footer>
					<div class="container">
						<ul>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-google"></i></a></li>
							<li><a href="#"><i class="fa fa-instagram"></i></a></li>
						</ul>
						<p>Copyright © All Right Reserved</p>
					</div>
				</footer>
			</main>
			<!-- Page content end -->
		</div>
	</div>

	<!--Page loader DOM Elements. Requared all pages-->
	<div class="sweet-loader">
		<div class="box">
		  	<div class="circle1"></div>
		  	<div class="circle2"></div>
		  	<div class="circle3"></div>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">공지사항 등록</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			</div>
			<div class="modal-body">
				<form id="noticeForm">
					<div class="form-group">
						<label for="exampleFormControlTextarea1">내용</label>
						<textarea class="form-control" id="contents" rows="3"></textarea>
					  </div>
				</form>
			</div>
			<div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			<button type="button" id="noticeInsertBtn" class="btn btn-outline-dark">Save</button>
			</div>
		</div>
		</div>
	</div>
	
	<!-- JQuery library file. requared all pages -->
	<script src="/js/jquery-3.2.1.min.js"></script>
	<!-- Template global script file. requared all pages -->
	<script src="/js/global.script.js"></script>
	<!-- bootstrap js -->
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

	<script>
		var jwtToken = sessionStorage.getItem('jwtToken');

		//공지 가져오기
		$(document).ready(function() {
			var jwtToken = sessionStorage.getItem('jwtToken');
			$.ajax({
				url: 'http://localhost:3000/notice/items',
				type: 'GET',
				headers: {
					'x-access-token': jwtToken
				},
				success: function (item) {
					for(var i=0; i < item.length; i++) {
						$("#noticeItems").append(
							'<tr>'+
								'<th>'+item[i].noticeID+'</th>'+
								'<td>'+item[i].contents+'</td>'+
								'<td>'+item[i].created.substr(0,10)+'</td>'+
								'<td><button id="deleteBtn" type="button" class="btn btn-outline-dark"'+
								'value="'+item[i].noticeID+'">삭제</button></td>'+
							'</tr>'
						)
					}
				},
				error: function (request, status, error) {
					alert("code:" + request.status + "\n" + "message:" +
					request.responseText + "\n" +"error:" + error);
				}
			});
		})
		//공지사항 등록
		$('#noticeInsertBtn').click(function() {
			var contents = $('#contents').val();
			$.ajax({
				url: '/notice',
				type: 'POST',
				data: {contents: contents},
				headers: {
					'x-access-token': jwtToken
				},
				success: function(data) {
					//TODO: 페이지 리로드
				},
			});
		});
		//게시글 삭제
		$(document).on('click', '#deleteBtn', function(){
			var id = this.value;
			if(confirm(id+"번째 글을 삭제하시겠습니까?")){
				$.ajax({
					url: '/notice/'+id,
					type: 'GET',
					success: function(data) {
						alert(id+"번째 글이 삭제되었습니다.");
						location.reload();
					},
				});
			}
		});
	</script>
</body>
</html>
