<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
	<title>Crypto Mobile Template</title>

	<!-- Google font file. If you want you can change. -->
	<link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,900" rel="stylesheet">

	<!-- Fontawesome font file css -->
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">

	<!-- Template global css file. Requared all pages -->
	<link rel="stylesheet" type="text/css" href="css/global.style.css">
</head>


<body>
	<header> <!-- extra class no-background -->
        <a class="go-back-link" href="javascript:history.back();"><i class="fa fa-arrow-left"></i></a>
        <h1 class="page-title">친구 검색하기</h1>
        <div class="navi-menu-button">
            <em></em>
            <em></em>
            <em></em>
        </div>
    </header>
    <section class="container">


        <!-- SEARCH START -->
        <div class="search-result-header fix-searchbar"> <!-- or without .fix-searchbar -->
            <form>
                <input type="text" name="q" class="form-element" placeholder="친구 이메일 입력..">
                <button class="search-result-btn"><i class="fa fa-arrow-right"></i></button>
            </form>
        </div>
        <!-- SEARCH END -->
</section>
    

						<div class="form-divider"></div>
						<div class="form-row">
							<a href="#" class="button circle block orange" id="getCheckedButton">친구추가하기</a>
						</div>
						<div class="form-divider"></div>

					</form>

				</div>
			</main>
			<!-- Page content end -->
		</div>
	</div>


	<!--Page loader DOM Elements. Requared all pages-->
	<div class="sweet-loader">
		<div class="box">
		  	<div class="circle1"></div>
		  	<div class="circle2"></div>
		  	<div class="circle3"></div>
		</div>
	</div>

	<!-- JQuery library file. requared all pages -->
	<script src="js/jquery-3.2.1.min.js"></script>

	<!-- Template global script file. requared all pages -->
	<script src="js/global.script.js"></script>
	
</body>

</html>