<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <title>테스트</title>
</head>

<body>
    <h2 id="star">테스트페이지</h2>
    <p id="value"></p>
    <script>
        $.ajax({
            url: 'http://localhost:3000/nh/efpayment',
            type: 'POST',
            success: function (data) {
                console.log(data);
                $("#value").text(data.price);
            },
            error: function (request, status, error) {
                alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" +
                    "error:" + error);
            }
        })
    </script>

</body>

</html>